<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./assets/images/favicon.ico">
    {% seo %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet"> 

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div id="heady">
          <img src="assets/images/mountaineer-bio-clear.png">
    </div>
    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
          <span>
          </span>
        <br>
        <span class="network-name site-footer-credits">Mountaineer Bio, LLC</span>
        <br>
        <span class="network-name site-footer-credits">&copy; 2021 - 2023</span>
      </footer>
    </main>
  </body>
</html>
